@model School_pws.Data.Entities.Subject

@{
    ViewData["Title"] = "Delete Subject";
}

<h1>Delete Subject</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Code)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Code)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9" style="text-align: justify;">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Workload)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Workload)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete" id="formDelete">
        <input type="hidden" asp-for="Id" />
        <button type="button" id="btnDelete" class="btn btn-danger">Delete <i class="fa-solid fa-trash"></i></button>
        <a asp-action="Manage" class="btn btn-success">Back to List <i class="fa-solid fa-circle-left"></i></a>
    </form>
</div>

<div id="deleteDialog" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Subject</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDelete">Yes</button>
                <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){

            $("#btnDelete").click(function() {
                $("#deleteDialog").modal("show");
                return false;
            });

            $("#btnNoDelete").click(function() {
                $("#deleteDialog").modal("hide");
                return false;
            });

            $("#btnYesDelete").click(function() {
                $("#formDelete").submit();
            });
        });
    </script>
}