@model IEnumerable<School_pws.Data.Entities.Application>

@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Student"))
{
    ViewData["Title"] = "My Applications";
    <h2>My Applications</h2>
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
else
{
    <h2>Manage Applications</h2>
    ViewData["Title"] = "Manage Applications";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="w-25">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.User.ImageFullPath))
                    {
                        <img src="@Url.Content(item.User.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details <i class="fa-solid fa-circle-info"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>